#!/bin/bash

set -euo pipefail

# shellcheck source=/dev/null
source "$(dirname "${BASH_SOURCE[0]}")/../hooks_utility/hooks_utility.sh"

# TODO use pass enter

printf "start pre-commit" | hooks_utility_debug

# perform branch protection
hooks_utility_protect_branch

# Todo write example & demonstration, or mpv example

# examples for ensure file modifications  --------------------------------------
# make sure CHANGELOG.md is edited

printf '%s' "$(hooks_utility_colorful_print_pass) pre-commit" |
    hooks_utility_info

exit 0
